$--border-color: #dcdfe6;

.bdi-index-filter {
  width: 440px;
  background: #fff;
  font-size: 12px;

  // 自定义 checkbox 样式
  input[type=checkbox] {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    margin: 0 0 2px;
    border-radius: 3px;
    outline: 0;
    vertical-align: middle;
    -webkit-appearance: none;

    &:checked {
      border-radius: 3px;
      background-color: $--color-primary;
      border-color: $--color-primary;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 1px;
        transform-origin: left top;
        background: #fff;        
      }

      &::before {
        width: 2px;
        height: 5px;
        left: 1px;
        top: 5px;
        transform: rotate(-50deg);
      }

      &::after {
        width: 2px;
        height: 7px;
        left: 5px;
        top: 8px;
        transform: rotate(-140deg);
      }
    }
  }

  .index-filter-header {
    padding: 12px 16px;
    border-bottom: 1px solid $--border-color;

    input {
      width: 170px;
    }
  }

  .index-filter-body {
    display: flex;
    height: 300px;
  }

  .index-group-list {
    flex: 1;
    padding: 0 14px;
    overflow-y: auto;
  }

  .index-group {
    margin-top: 18px;

    & > ul {
      margin: 10px 0 0 16px;
    }
  }

  .index-item {
    display: inline-block;
    margin-right: 20px;
    line-height: 1.3;
  }

  .index-selected-list {
    width: 150px;
    padding: 15px;
    border-left: 1px solid $--border-color;
    overflow-y: auto;

    li {
      padding: 3px;
      margin-top: 2px;
      transition: transform .2s, opacity .2s;

      &.dragging {
        padding: 2px;
        border: 1px dashed #ccc;
        opacity: .5;
      }

      span {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 5px;
        background: $--color-primary;
        color: #fff;
        text-align: center;
        line-height: 12px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .index-filter-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 12px 16px;
    border-top: 1px solid $--border-color;
  }

  .list-enter,
  .list-leave-active {
    opacity: 0;
    transform: translateX(-50px);
  }
}
