$--color-primary: #409eff !default;
$--border-color-base: #dcdfe6 !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;

// sidebar
$--color-sidebar-bg: #003a57 !default;
